
*.xml
.idea/
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
Semesterprojekt01.iml
.idea/workspace.xml
target/classes/module-info.class
target/classes/Realtime/CItem.class
target/classes/worldofzuul/InventoryManager.class
target/classes/BackEnd/GraphicsProcessor.class
target/classes/worldofzuul/Game.class
target/classes/Realtime/RenderableText.class
target/classes/Realtime/Player.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/InteractionHandler.class
target/classes/Realtime/DistanceTrigger.class
target/classes/Realtime/CItem.class
.idea/workspace.xml
