
*.xml
.idea/
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
Semesterprojekt01.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
Semesterprojekt01.iml
.idea/workspace.xml
Semesterprojekt01.iml
.idea/compiler.xml
.idea/libraries/Maven__eu_hansolo_tilesfx_11_48.xml
.idea/libraries/Maven__net_synedra_validatorfx_0_1_13.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_core_12_2_0.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_javafx_12_2_0.xml
.idea/libraries/Maven__org_openjfx_javafx_base_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_17_ea_11.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/workspace.xml
pom.xml
Semesterprojekt01.iml
src/main/java/BackEnd/ContentEngine.java
src/main/java/BackEnd/RoomCollection.java
src/main/java/Realtime/Player.java
src/main/resources/Data/Rooms.csv
target/classes/BackEnd/ContentEngine.class
target/classes/BackEnd/ExitDefinition.class
target/classes/BackEnd/GraphicsProcessor.class
target/classes/BackEnd/PosPicCombo.class
target/classes/BackEnd/RoomCollection.class
target/classes/BackEnd/TextProcessor.class
target/classes/Data Access Protocol.txt
target/classes/Data/Rooms.csv
target/classes/module-info.class
target/classes/Realtime/debugging/RenderableCircle.class
target/classes/Realtime/debugging/RenderableSquare.class
target/classes/Realtime/debugging/TestingCItem.class
target/classes/Realtime/ExtendedFunctions.class
target/classes/Realtime/InteractionHandler.class
target/classes/Realtime/interfaces/Clickable.class
target/classes/Realtime/interfaces/Interactible.class
target/classes/Realtime/interfaces/Renderable.class
target/classes/Realtime/interfaces/Tickable.class
target/classes/Realtime/inventory/CItem.class
target/classes/Realtime/inventory/CItemButton.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/Item.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MouseHandler.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/Player.class
target/classes/Realtime/RenderableButton.class
target/classes/Realtime/RenderableImage.class
target/classes/Realtime/RenderableText.class
target/classes/Realtime/RoomDescriptionText.class
target/classes/Realtime/RoomTitleText.class
target/classes/Realtime/TemporaryRenderable.class
target/classes/Realtime/triggers/DistanceAutoTrigger.class
target/classes/Realtime/triggers/DistanceTrigger.class
target/classes/Realtime/triggers/RoomExitTrigger.class
target/classes/Realtime/triggers/SquareTrigger.class
target/classes/Realtime/Vector2D.class
target/classes/worldofzuul/Command.class
target/classes/worldofzuul/CommandWord.class
target/classes/worldofzuul/CommandWords.class
target/classes/worldofzuul/Game.class
target/classes/worldofzuul/Parser.class
target/classes/worldofzuul/Quest.class
target/classes/worldofzuul/Room.class
.idea/compiler.xml
.idea/libraries/Maven__eu_hansolo_tilesfx_11_48.xml
.idea/libraries/Maven__net_synedra_validatorfx_0_1_13.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_core_12_2_0.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_javafx_12_2_0.xml
.idea/libraries/Maven__org_openjfx_javafx_base_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_17_ea_11.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/workspace.xml
pom.xml
Semesterprojekt01.iml
src/main/java/BackEnd/ContentEngine.java
src/main/java/BackEnd/RoomCollection.java
src/main/java/Realtime/Player.java
src/main/resources/Data/Rooms.csv
target/classes/BackEnd/ContentEngine.class
target/classes/BackEnd/ExitDefinition.class
target/classes/BackEnd/GraphicsProcessor.class
target/classes/BackEnd/PosPicCombo.class
target/classes/BackEnd/RoomCollection.class
target/classes/BackEnd/TextProcessor.class
target/classes/Data/Rooms.csv
target/classes/module-info.class
target/classes/Realtime/debugging/RenderableCircle.class
target/classes/Realtime/debugging/RenderableSquare.class
target/classes/Realtime/debugging/TestingCItem.class
target/classes/Realtime/ExtendedFunctions.class
target/classes/Realtime/InteractionHandler.class
target/classes/Realtime/interfaces/Clickable.class
target/classes/Realtime/interfaces/Interactible.class
target/classes/Realtime/interfaces/Renderable.class
target/classes/Realtime/interfaces/Tickable.class
target/classes/Realtime/inventory/CItem.class
target/classes/Realtime/inventory/CItemButton.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/Item.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MouseHandler.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/Player.class
target/classes/Realtime/RenderableButton.class
target/classes/Realtime/RenderableImage.class
target/classes/Realtime/RenderableText.class
target/classes/Realtime/RoomDescriptionText.class
target/classes/Realtime/RoomTitleText.class
target/classes/Realtime/TemporaryRenderable.class
target/classes/Realtime/triggers/DistanceAutoTrigger.class
target/classes/Realtime/triggers/DistanceTrigger.class
target/classes/Realtime/triggers/RoomExitTrigger.class
target/classes/Realtime/triggers/SquareTrigger.class
target/classes/Realtime/Vector2D.class
target/classes/worldofzuul/Command.class
target/classes/worldofzuul/CommandWord.class
target/classes/worldofzuul/CommandWords.class
target/classes/worldofzuul/Game.class
target/classes/worldofzuul/Parser.class
target/classes/worldofzuul/Quest.class
target/classes/worldofzuul/Room.class
.idea/compiler.xml
.idea/libraries/Maven__eu_hansolo_tilesfx_11_48.xml
.idea/libraries/Maven__net_synedra_validatorfx_0_1_13.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_core_12_2_0.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_javafx_12_2_0.xml
.idea/libraries/Maven__org_openjfx_javafx_base_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_17_ea_11.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/workspace.xml
pom.xml
Semesterprojekt01.iml
src/main/java/BackEnd/ContentEngine.java
src/main/java/BackEnd/RoomCollection.java
src/main/java/Realtime/Player.java
src/main/resources/Data/Rooms.csv
target/classes/BackEnd/ContentEngine.class
target/classes/BackEnd/ExitDefinition.class
target/classes/BackEnd/GraphicsProcessor.class
target/classes/BackEnd/PosPicCombo.class
target/classes/BackEnd/RoomCollection.class
target/classes/BackEnd/TextProcessor.class
target/classes/Data/Rooms.csv
target/classes/module-info.class
target/classes/Realtime/debugging/RenderableCircle.class
target/classes/Realtime/debugging/RenderableSquare.class
target/classes/Realtime/debugging/TestingCItem.class
target/classes/Realtime/ExtendedFunctions.class
target/classes/Realtime/InteractionHandler.class
target/classes/Realtime/interfaces/Clickable.class
target/classes/Realtime/interfaces/Interactible.class
target/classes/Realtime/interfaces/Renderable.class
target/classes/Realtime/interfaces/Tickable.class
target/classes/Realtime/inventory/CItem.class
target/classes/Realtime/inventory/CItemButton.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/Item.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MouseHandler.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/Player.class
target/classes/Realtime/RenderableButton.class
target/classes/Realtime/RenderableImage.class
target/classes/Realtime/RenderableText.class
target/classes/Realtime/RoomDescriptionText.class
target/classes/Realtime/RoomTitleText.class
target/classes/Realtime/TemporaryRenderable.class
target/classes/Realtime/triggers/DistanceAutoTrigger.class
target/classes/Realtime/triggers/DistanceTrigger.class
target/classes/Realtime/triggers/RoomExitTrigger.class
target/classes/Realtime/triggers/SquareTrigger.class
target/classes/Realtime/Vector2D.class
target/classes/worldofzuul/Command.class
target/classes/worldofzuul/CommandWord.class
target/classes/worldofzuul/CommandWords.class
target/classes/worldofzuul/Game.class
target/classes/worldofzuul/Parser.class
target/classes/worldofzuul/Quest.class
target/classes/worldofzuul/Room.class
.idea/workspace.xml
target/classes/worldofzuul/Game.class
target/classes/Realtime/QuestGUI.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/worldofzuul/Room.class
target/classes/worldofzuul/Game.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/worldofzuul/Room.class
target/classes/worldofzuul/Game.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/worldofzuul/Room.class
target/classes/worldofzuul/Game.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/dropCItemButton.class
target/classes/worldofzuul/Room.class
target/classes/worldofzuul/Game.class
target/classes/Realtime/OnKeyReleased.class
target/classes/Realtime/OnKeyReleased$1.class
target/classes/Realtime/OnKeyPressed.class
target/classes/Realtime/OnKeyPressed$1.class
target/classes/Realtime/MainGUIController.class
target/classes/Realtime/MainGUIController$1.class
target/classes/Realtime/inventory/useCItemButton.class
target/classes/Realtime/inventory/InventoryManager.class
target/classes/Realtime/inventory/InventoryGUIManager.class
target/classes/Realtime/inventory/dropCItemButton.class
.idea/workspace.xml
.idea/workspace.xml
