
*.xml
.idea/
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_media_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_web_win_17_ea_11.xml
Semesterprojekt01.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
